@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #10141e;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.item {
  width: 100vw;
}
body {
  background-color: var(--background-dark);
}
